:root {
    --primary: #fff;
    --primary-gray: #363738;
    --secondary-white: #f5f5f5;
    --secondary-beige: #fefaf1;
    --background-white: #fff;
    --text-white: #fafafa;
    --text-gray: #7d8184;
    --black-color: #000;
    --secondary-coral: #db4444;
    --button-lime: #0f6;
    --button-red: #db4444;
    --rgba-dark: rgba(0, 0, 0, 0.3);

    --primary-family: "Poppins Regular", sans-serif;
    --poppins-medium: "Poppins Medium", sans-serif;
    --poppins-semibold: "Poppins SemiBold", sans-serif;

    --inter-regular: "Inter Regular", sans-serif;
    --inter-medium: "Inter Medium", sans-serif;
    --inter-bold: "Inter Bold", sans-serif;
    --inter-semibold: "Inter SemiBold", sans-serif;
}
